<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>
    DrawOnline
  </title>
  <style>
      .submit{
      border:2px solid #1b7fd9;
      border-radius: 0.67em;
      background-color: #1b7fd9;
      width: 180px;
      height: 50px;
      color: #FFFFFF;
      font-size: 16px;
    }
  </style>
</head>

<body>
<div align="center" style="width:100%; height:1000px;background-color:#2b8fe9">
  <div align="left" style="width:1000px; height:100%;background-color:#FFF;padding:30px">
   <h1 >Draw<font color="#2b8fe9">Online</font></h1>
    <form action="/create" method="post">
      <input type="text" name="title" placeholder="プロジェクトのタイトルを入力してください" style="width:100%; height:50px; font-size:20px; margin-bottom:20px">
      <input type="submit" value="作成" class="submit">
    </form>
  </div>
</div>

</body>

</html>