<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>
    BulletinBoard
  </title>
</head>

<body>
    <h1 align="left">BulletinBoard</h1>
    <p>こんにちは。 <%=@user%> さん</p>
    <form action="/logout" method="post">
      <input type="submit" value="ログアウト" style="font-size: 20px">
    </form>
  <hr>
  <h2 align="center">掲示板</h2>
  <form action="/post" method="post">
    <table align="center">
      <tr>
        <td>本文</td>
        <td><input type="text" name="message" style="font-size: 20px" placeholder="いまどうしてる?"></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="投稿" style="font-size: 20px">
        </td>
      </tr>
    </table>
  </form>
  <hr>
  <h2 align="center">投稿一覧</h2>
  <table align="center">
    <tr>
      <th>投稿者</th>
      <th>本文</th>
      <th>投稿日時</th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.user %></td>
      <td><%= post.msg %></td>
      <td><%= post.date %></td>
    </tr>
    <% end %>
  </table>

</body>

</html>