<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>
    BulletinBoard
  </title>
</head>

<body>
  <h1 align="left">BulletinBoard</h1>
  <hr>
  <h2 align="center">ログイン</h2>
  <form action="/login" method="post">
    <table align="center">
      <tr>
        <td>ユーザーID</td>
        <td><input type="text" name="user" style="font-size: 20px" placeholder="ユーザID"></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><input type="password" name="password" style="font-size: 20px" placeholder="パスワード"></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="ログイン" style="font-size: 20px">
        </td>
      </tr>
    </table>
</body>

</html>