<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>lab_search</title>
</head>

<body>
  <h1>lab_search</h1>
  <table border>
    <tr>
      <th>lab_search</th>
    </tr>
    <% @lab_members.each do |member| %>
      <tr>
        <td>
          <%= member.member_name%>
        </td>
      </tr>
      <% end %>
  </table>
</body>
</html>